/* line 2, app/teamspeak/static/css/includes/navbar.scss */
#nav .grid {
  text-align: center;
  background: #403e77a6; }

/* line 5, app/teamspeak/static/css/base.scss */
body {
  background: #2a2c3d;
  line-height: 1.4; }
