/* line 2, app/teamspeak/static/css/includes/navbar.scss */
#nav .grid {
  text-align: center;
  background: #403e77a6;
  font-size: 1.4em;
  padding-top: 1em; }

/* line 9, app/teamspeak/static/css/includes/navbar.scss */
#nav .two, #nav .seven {
  display: flex; }
  /* line 12, app/teamspeak/static/css/includes/navbar.scss */
  #nav .two .one, #nav .seven .one {
    width: 100%;
    text-align: center; }

/* line 5, app/teamspeak/static/css/base.scss */
body {
  background: #2a2c3d;
  color: #abaaad;
  font-family: "Exo 2", "Roboto", sans-serif; }
