  .column{
    background: $footer_background;
    color: $text_color;
    border-top: 1px solid $border_color;
    text-align: center;
    padding: .4em;

    .cont{
      font-size: 1.25em;
    }
  }
