.container{
  width: 55%;
  display: flex;
  margin: auto;

  .posts{
    width: 60%;
    margin: auto;

    h1{
      text-align: center;
    }

    .card{
      width: 0;
      background: $content_background;
      margin: 0.875em 0;
    }
  }

  .specification{
    width: 25%;
    height: fit-content;
  }

  .cards{
    margin: 0;
  }

  .header, .meta, .extra{
    color: $text_color_brighter !important;

    a{
      color: $text_color_brighter;
    }
  }

  .meta{
    padding-left: .3em;
  }

  .description{
    color: $text_color !important;
    font-size: 1.1em;
  }

  .ui.cards>.card>.extra{
    border-top: 1px solid $border_color !important;
  }

  .content{
    height: 13.5em;
    overflow: hidden;
  }

  .info{
    border: 1px solid $border_color;
    background: $navbar_background;
    height: 20%;
    min-height: 40%;
    margin: 4.4em 0;
    border-top: 3px solid $border_hover;

    h3{
      text-align: center;
      padding-top: .3em;
    }

    .data{
      display: flex;
      justify-content: space-between;
      padding: .3em .7em;

      .nick{
      font-size: 1.15em;
      }

      .status{
        border: 1px solid black;
        border-radius: 10%;
        padding: .2em;
      }

      .online{
        background: rgb(52, 179, 35);
        color: rgb(255, 255, 255);
      }

      .ofline{
        background: rgb(207, 23, 23);
        color: white;
        min-width: 29%;
      }

      .variable{
        background: rgb(71, 70, 70);
        width: 20%;
        height: 20%;
        border: 1px solid $text_color;
        border-radius: 12%;
        text-align: center;
      }
    }
  }
}
