#nav{
  .grid{
    text-align: center;
    background: $navbar_background;
    border-bottom: 1.2px solid $border_color;
    display: flex;
    justify-content: space-between;
    padding-bottom: -1em !important;

  }

  .space{
    width: 19%;
  }

  .space-link{
    width: 10%;
  }

  .list{
    width: 62%;
    display: flex;
  }

  .link{
    min-width: 10%;
    padding: .7em 1em;
    font-size: 1.4em;
    text-align: center;
    border-right: 1px solid $border_color;
  }

  .logo{
    width: 15%;
    text-align: center;
    padding: .5em;
    font-size: 1.4em;
    text-align: center;
    border-right: 1px solid $border_color;
  }

  a:hover{
    color: $text_color;
    background-color: $hover_background;
    transition: .4s;
    border-bottom: 2px solid $border_hover;
  }
}
