{% load static %}

{% block navbar %}
<div id="nav">

<div class="grid">
  <div class="space"></div>
  <div class="list">
    <a href="/">
      <div class="link"><i class="home icon"></i></div>
    </a>
    <a href="">
      <div class="link">Podgląd Serwera</div>
    </a>
    <a href="">
      <div class="link">Lista Banów</div>
    </a>
    <div class="logo">Twoje LOGO</div>
    <a href="">
      <div class="link">Rekrutacja</div>
    </a>
    <a href="">
      <div class="link">Regulamin</div>
    </a>
    <a href="">
      <div class="link">Kontakt</div>
    </a>
    <a href="">
      <div class="link">Zaloguj</div>
    </a>
  </div>
  <div class="space"></div>
</div>

</div>
{% endblock %}
