$main_background: #2a2c3d;
$navbar_background: #403e77a6;
$text_color:#bbbbbb;
$text_color_brighter: #ebebeb;
$border_color: #565481;
$border_hover: #f92552;
$hover_background: #2828409a;
$footer_background: #32365ec7;
$content_background: #414168;
