{% extends "teamspeak/layouts/default.html" %}

{% load static %}

{% block title %}TeamSpeak{% endblock %}

{% block content %}

<div class="container">
  <div class="posts">
    <h1>Aktualności</h1>
    <div class="ui one stackable cards">
    {% for post in posts %}
      <div class="card">
        <div class="content">
          <div class="header">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </div>
          <div class="description">
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        </div>
        <div class="extra">
          <span class="right floated date">
            <p> <i class="calendar alternate outline icon"></i>{{ post.published_date }}</p>
          </span>
          <span class="date">
            <p>Opublikowano: </p>
          </span>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="specification">
    <div class="info">
    <h3>Admini</h3>
      <div class="data">
        <div class="nick">Administaror 1</div>
        <div class="status online">Online</div>
      </div>
      <div class="data">
        <div class="nick">Administaror 2</div>
        <div class="status online">Online</div>
      </div>
      <div class="data">
        <div class="nick">Administaror 3</div>
        <div class="status ofline">Ofline</div>
      </div>
    </div>
    <div class="info">
    <h3>Dane Serwerowe</h3>
      <div class="data">
        <div class="nick"><i class="blog icon"></i>Ping</div>
        <div class="variable">22</div>
      </div>
      <div class="data">
        <div class="nick"><i class="user friends icon"></i>Online</div>
        <div class="variable">12</div>
      </div>
      <div class="data">
        <div class="nick"><i class="wifi icon"></i>Pakiety</div>
        <div class="variable">0.5%</div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
